
<% layout("/layouts/boilerplate") %>
<body>
    <div class="course-container">
        <img src="<%=course.image%>" class="course-img" alt="image">
        <h5 class="card-title"><%=course.title%></h5>
        <p class="card-text">Tutor : <a href="<%=course.tutorlink%>" class="tutor"><%=course.tutor%></a><br><i class="fa-solid fa-star"></i> <%=course.rating%></p>
        <button type="button" class="btn btn-success">Enroll Now</button>
        <hr>
        <div class="syllabus">
            <br>
            <h3 style="text-decoration:overline red;">Syllabus</h3>
            <br>
            <form action="/show/<%=course._id%>?_method=PUT" method="POST">
                <div class="chapter">
                    <%for(let i = 0; i < course.syllabus.length; i++) { %>
                    <div class="chapter-details">
                        <div class="chapter-logic">
                            <span class="chapter-name"><%=course.syllabus[i].chapter%></span>
                            <a class="angle-down" id="toggleButton"><i class="fa-solid fa-angle-down"></i></a>
                        </div>
                        <br>
                        <div class="lecture" id="lectureDiv">
                            <iframe width="600" height="320" 
                                src="https://www.youtube.com/embed/<%=course.syllabus[i].lectureurl%>"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                            <br><br>
                    
                            <a href="/quiz/<%=course._id%>/<%=i%>" class="btn btn-primary">Quiz</a> <!-- Quiz Button -->
                            <button type="button" class="btn btn-warning" id = "notes-btn">Notes</button>
                        </div>
                    </div>
                    <br>
                    <div class="notes">
                        <textarea name="syllabus[<%=i%>][notes]" placeholder="Enter Your Notes Here..!" class="notedown"><%=course.syllabus[i].notes%></textarea>
                        <br>
                        <div class="notes-btns">
                            <button type="submit" class="btn btn-success">Save Notes</button>
                            <button type="button" class="btn btn-danger download-pdf-btn"><i class="fa-solid fa-download" style="margin-right: 0.3rem;"></i> PDF</button>
                        </div>
                    </div>
                    <%}%>
                    <br>
                </div>
            </form>
            
        </div>
        
    </div>
    <br>
    <br>
    <!-- Include jsPDF and html2canvas from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</body>
