<% layout("/layouts/boilerplate") %>
<body>
    <div class="shows-container">
        <div class="shows-chapters">
            <p class="chapters-overview shows-chapters-name active-chapter" onclick="showOverview()">Overview</p>
            <hr>
            <% for (let i = 0; i < course.syllabus.length; i++) { %>
                <p class="shows-chapters-name" onclick="showChapterDetails('<%=i%>')">
                    <%= course.syllabus[i].chapter %>
                </p>
                <hr>
            <% } %>
        </div>
        <div class="shows-content">
            <div class="shows-chapter-content">
                <div class="overview">
                    <img src="<%= course.image %>" class="shows-chapter-img mt-0" alt="image">
                    <h5 class="shows-chapter-title mt-2"><%= course.title %></h5>
                    <p class="shows-chapter-tutor">Tutor : 
                        <a href="<%= course.tutorlink %>" class="tutor"><%= course.tutor %></a>
                        <br>
                        <i class="fa-solid fa-star"></i> <%= course.rating %>
                    </p>
                    <button type="button" class="btn btn-success">Enroll Now</button>
                    <hr>
                </div>
            </div>
    
            <div class="shows-chapter-details">
                <form action="/shows/<%=course._id%>?_method=PUT" method="POST">
                    <% for (let i = 0; i < course.syllabus.length; i++) { %>
                        <div class="chapter-detail" id="chapterDetail<%= i %>" style="display: none;">
                            <h5 class="shows-chapter-name mb-3"><%= course.syllabus[i].chapter %></h5>
                            <div class="lectures">
                                <iframe width="100%" height="320" 
                                    src="https://www.youtube.com/embed/<%= course.syllabus[i].lectureurl %>"
                                    title="YouTube video player" 
                                    frameborder="0" 
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                    allowfullscreen>
                                </iframe>
                                <br><br>
                                <a href="/quiz/<%= course._id %>/<%= i %>" class="btn btn-primary">Quiz</a>
                                <button type="button" class="btn btn-warning" id="shows-notes-btn">Notes</button>
                            </div>
                            <hr>
                            <div class="shows-chapter-notes">
                                <textarea name="syllabus[<%=i%>][notes]" class="chapter-notes" placeholder="Enter your notes here..!"><%=course.syllabus[i].notes%></textarea>
                                <div class="notes-btns">
                                    <button type="submit" class="btn btn-success">Save Notes</button>
                                    <button type="button" class="btn btn-danger download-pdf-btns"><i class="fa-solid fa-download" style="margin-right: 0.3rem;"></i> PDF</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <!-- Include jsPDF and html2canvas from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <%-include("../includes/footer.ejs")%>
</body>
