
<% layout("/layouts/boilerplate") %>
<body>
    <div class="course-container">
        <img src="<%=course.image%>" class="course-img" alt="image">
        <h5 class="card-title"><%=course.title%></h5>
        <p class="card-text">Tutor : <a href="https://www.youtube.com/@KunalKushwaha" class="tutor"><%=course.tutor%></a><br><i class="fa-solid fa-star"></i> <%=course.rating%></p>
        <button type="button" class="btn btn-success">Enroll Now</button>
        <hr>
        <div class="syllabus">
            <br>
            <h3 style="text-decoration:overline red;">Syllabus</h3>
            <br>
            <!-- <form action="/show/<%=course._id%>?_method=PUT" method = "POST">
                <div class="chapter">
                    <%for(let ch of course.syllabus){%>
                    <div class="chapter-details">
                        <div class="chapter-logic">
                            <span class="chapter-name"><%=ch.chapter%></span>
                            <a class="angle-down" id="toggleButton"><i class="fa-solid fa-angle-down"></i></a>
                        </div>
                        <br>
                        <div class="lecture" id="lectureDiv">
                            <iframe width="600" height="320" 
                                src="https://www.youtube.com/embed/<%=ch.lectureurl%>"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                            <br><br>
                            <button type="button" class="btn btn-primary">Quiz</button>
                            <button type="button" class="btn btn-warning" id = "notes-btn">Notes</button>
                        </div>
                    </div>
                    <br>
                    <div class = "notes">
                        <textarea name="notes" placeholder = "Enter Your Notes Here..!" class = "notedown"><%=ch.notes%></textarea>
                        <br><button type="submit" class="btn btn-success">Save Notes</button>
                    </div>
                    <%}%>
                    <br>
                </div>
            </form> -->

            <form action="/show/<%=course._id%>?_method=PUT" method="POST">
                <div class="chapter">
                    <%for(let i = 0; i < course.syllabus.length; i++) { %>
                    <div class="chapter-details">
                        <div class="chapter-logic">
                            <span class="chapter-name"><%=course.syllabus[i].chapter%></span>
                            <a class="angle-down" id="toggleButton"><i class="fa-solid fa-angle-down"></i></a>
                        </div>
                        <br>
                        <div class="lecture" id="lectureDiv">
                            <iframe width="600" height="320" 
                                src="https://www.youtube.com/embed/<%=course.syllabus[i].lectureurl%>"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                            <br><br>
                            <button type="button" class="btn btn-primary">Quiz</button>
                            <button type="button" class="btn btn-warning" id = "notes-btn">Notes</button>
                        </div>
                    </div>
                    <br>
                    <div class="notes">
                        <textarea name="syllabus[<%=i%>][notes]" placeholder="Enter Your Notes Here..!" class="notedown"><%=course.syllabus[i].notes%></textarea>
                        <br><button type="submit" class="btn btn-success">Save Notes</button>
                    </div>
                    <%}%>
                    <br>
                </div>
            </form>
            
        </div>
        
    </div>
    <br>
    <br>
</body>
